<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alexa.NET" version="1.14.0" targetFramework="net48" />
  <package id="Amazon.Lambda.Core" version="1.2.0" targetFramework="net472" />
  <package id="Amazon.Lambda.DynamoDBEvents" version="1.2.0" targetFramework="net48" />
  <package id="Amazon.Lambda.Serialization.Json" version="1.8.0" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.5.1.56" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.5.4.15" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
</packages>